@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2f8;
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
}
